.acordions {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.acordion {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.acordion_title{
    display: flex;
    justify-content: space-around;
}
.acordion_button {
    background-color: blue;
    width: 20px;
    height: 20px;
    display: block;
}

.acordion_button2 {
    background-color: blue;
    width: 20px;
    height: 20px;
    display: none;
}

.acordion_discription {
    background-color: blueviolet;
    display: none;
}